<section class="painting">
<!--  <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> -->
  <div class="painting-details">
    <h3>{{comment.content}}</h3>
    <p>By: {{comment.user_id}}</p>
  </div>
</section>