<section class="container">
  <div class="gallery-name">
    <h2>{{post.title}}</h2>
    <h3>{{post.content}}</h3>
    <p>{{post.user.username}}</p>
    <p>{{format_date post.createdAt}}</p>
  </div>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>